@charset "UTF-8";
.part-one {
  width: 100%;
  position: relative;
}

.part-one .del-out {
  width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.part-one .del-out .del {
  float: right;
  transform: translate(0px, 0px);
  text-align: right;
  margin-top: 45px;
  color: #fffdf8;
  overflow: hidden;
  animation: move 500ms linear both;
}

.part-one .del-out .del h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

.part-one .del-out .del .one {
  font-size: 12px;
  height: 35px;
  margin: 0px 0px 25px 66px;
  overflow: hidden;
}

.part-one .del-out .del .one span {
  float: left;
  margin-right: 15px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.part-one .del-out .del .time {
  font-size: 16px;
  margin-bottom: 20px;
}

.part-one .del-out .del .apply {
  width: 242px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border: none;
  border-radius: 8px;
  color: #fffdf8;
  background-color: #fe5341;
  font-size: 24px;
  cursor: pointer;
}

.part-two {
  height: 100px;
  background-color: #f0f0f0;
  margin: 0px;
  padding-top: 20px;
}

.part-two ul {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.part-two ul li {
  float: left;
}

.part-two ul li h2 {
  width: 70px;
  height: 65px;
  line-height: 25px;
  font-size: 20px;
  color: #3c3b40;
  padding: 8px 0px 0px 15px;
  border-left: 5px solid #f95e40;
  box-sizing: border-box;
}

.part-two ul .icon {
  width: 50px;
  margin: 0px 68px;
  cursor: pointer;
}

.part-two ul .icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.part-two ul .icon span {
  font-size: 12px;
  text-align: center;
}

.part-two ul .selecter {
  border-bottom: 2px solid #f95e40;
}

.part-three {
  width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
  overflow: hidden;
}

.part-three .left {
  float: left;
  width: 700px;
}

.part-three .left h2 {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #5a5162;
  padding-left: 10px;
  border-left: 6px solid #f95e40;
  box-sizing: border-box;
  margin-top: 20px;
}

.part-three .left h3, .part-three .left .h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fe0000;
}

.part-three .left h4, .part-three .left h5 {
  margin-top: 35px;
  font-size: 16px;
  color: #0273af;
}

.part-three .left h5 {
  color: #006dc8;
}

.part-three .left p, .part-three .left .p1 {
  margin-top: 30px;
  font-size: 16px;
  color: #5a5162;
}

.part-three .left .p1 {
  margin: 0px;
}

.part-three .left .p1 span {
  font-weight: bolder;
}

.part-three .left img {
  margin-top: 35px;
}

.part-three .right {
  float: right;
  width: 270px;
}

.part-three .right h2 {
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #5a5162;
  padding-left: 30px;
  border-left: 6px solid #f95e40;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.part-three .right .price {
  font-size: 33px;
  font-weight: bolder;
  color: #fa5537;
  margin: 30px 0px;
}

.part-three .right button {
  width: 270px;
  height: 50px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  background-color: #fa5537;
  border-radius: 5px;
}

.part-three .right .from {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #afb2b9;
}

.part-three .right .one {
  margin: 16px 0px 66px;
}

.part-three .right .one h3, .part-three .right .one .left .h3, .part-three .left .right .one .h3 {
  font-size: 16px;
  margin-bottom: 14px;
}

.part-three .right .one p, .part-three .right .one .left .p1, .part-three .left .right .one .p1 {
  font-size: 12px;
  color: #959595;
  margin-bottom: 14px;
}

.part-four {
  width: 1000px;
  margin: 56px auto  20px;
}

.part-four .title {
  height: 23px;
  padding-top: 23px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  line-height: 23px;
}

.part-four .title span {
  float: right;
  width: 77px;
  font-size: 12px;
  color: #f95e40;
  background: url("./../image/素材/图片/css/img/readMore.png") no-repeat 63px 6px;
  cursor: pointer;
}

.part-four ul {
  margin-top: 20px;
  overflow: hidden;
}

.part-four ul li {
  width: 220px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  float: left;
  margin-right: 37px;
}

.part-four ul li .top {
  position: relative;
}

.part-four ul li .top img {
  width: 220px;
  height: 130px;
  border-radius: 5px 5px 0px 0px;
}

.part-four ul li .top p, .part-four ul li .top .part-three .left .p1, .part-three .left .part-four ul li .top .p1 {
  height: 22px;
  line-height: 22px;
  text-align: center;
  padding: 0px 8px;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px 5px 0px 5px;
}

.part-four ul li .top .one {
  background-color: #ed5842;
  color: white;
}

.part-four ul li .top .two {
  background-color: #fcf5c7;
  color: #b3ac7e;
}

.part-four ul li .bottom {
  padding: 5px;
  color: #f95e40;
  text-align: center;
}

.part-four ul li .bottom .name {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}

.part-four ul li .bottom .num span {
  display: inline-block;
  width: 50px;
  height: 25px;
  border: 1px solid #f95e40;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
}

.part-four ul li .bottom .people {
  margin: 10px 0px;
}

.part-four ul li .bottom .people span {
  color: #000;
}

.part-four ul li .bottom2 .num span {
  color: #79cb67;
  border-color: #79cb67;
}

.part-four ul li .bottom2 .time {
  color: #79cb67;
}

.part-four li:nth-child(4n) {
  margin: 0px;
}

@keyframes move {
  0% {
    transform: translate(200px, -200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
